<!-- Button to clear selection -->
<button (click)="clearSelection()">Clear Selection</button>
<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 100%; height: 60%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular>

<div class="container">
    <p>Página {{page}} de {{totalPages}}</p>
</div>

<div class="container">
  <button *ngIf="prev != '' && prev != undefined" (click)="previousPage()">Back</button>
  <button *ngIf="next != '' && next != undefined" (click)="nextPage()">Next</button>
</div>


